@tailwind base;
@tailwind components;

.bg-pattern-circuits {
  background-color: theme('colors.gray.900');
  background-image: url('../assets/background.svg');
}

.animated-item {
  background: linear-gradient(
    to left,
    transparent 50%,
    theme('colors.teal-vivid.900') 50%
  );
  background-size: 210% 100%;
  background-position: right bottom;
  transition: all 250ms ease;
}

.animated-item:hover,
.animated-item:focus {
  background-position: left bottom;
}

@tailwind utilities;

.hyphens {
  hyphens: auto;
}

.min-w-xs {
  min-width: 20rem;
}

.break-avoid {
  break-inside: avoid;
}
