@tailwind base;
@tailwind components;

.main-bg {
  background-color: #1d1d1e;
  background-image: url('../assets/background.svg');
}

.animated-item {
  background: linear-gradient(to left, transparent 50%, #68c4d070 50%);
  background-size: 210% 100%;
  background-position: right bottom;
  transition: all 250ms ease;
}

.animated-item:hover,
.animated-item:focus {
  background-position: left bottom;
}

@tailwind utilities;
